<form [formGroup]="createPostForm">
    <textarea placeholder="{{'ex' | translate}}" width="400px" formControlName="description"></textarea> <br>
    <input pInputText placeholder="{{'putImageUrl' | translate}}" style="width: 100%;" formControlName="imageUrl">

    <div class="d-flex justify-content-between" style="margin-top: 20px;">
        <p>{{'turnOffCommenting' | translate}}</p>
        <p-inputSwitch (onChange)="handleChange($event)"></p-inputSwitch>
    </div>
    <div class="d-flex justify-content-end">
        <button pButton type="submit" (click)="addPost()" label="{{'post' | translate}}" [disabled]="createPostForm.invalid"></button>
    </div>
</form>