div {
  // border: 1px solid red;
  .nav-end {
    width: 330px;
  }

  i {
    font-size: 1.5rem;
    transition: 0.5s;
    &:hover {
      font-size: 1.7rem;
      transition: all 0.3s ease-in-out;
    }
  }

  #logo-img {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 0 white;
  }
}

.navbar{
  background-color: var(--surface-card);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

p{
  font-family: 'Cookie', cursive;
  font-size: 35px;
}

.language{
  margin-left: 20px;
  img{
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}


p-selectButton{
  margin-left: 30px;
}