

.container {
  padding: 1rem;
}

div {
  ng-template {
    display: block;
    text-align: center;
    font-size: 0.7rem;
  }
  .center {
    margin: auto;
    max-width: fit-content;
  }
  .mat-icon {
    font-size: 1.8rem;
  }
}
