<div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!isLoading">
    <p-card>
        <div class="log-out">
            <p>{{"hello" | translate}} {{currentUser.firstName}}, {{"adminMessage" | translate}}</p>
            <p-selectButton [options]="lang" [(ngModel)]="selected" optionLabel="value" optionValue="name"
                (onChange)="selectLanguage($event)"></p-selectButton>
            <button pButton class="p-button-outlined p-button-primary" label="{{'logout' | translate}}"
                (click)="authService.logout()"></button>
        </div>
        <p-table #dt [value]="posts" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="4"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[4]" [paginator]="true"
            currentPageReportTemplate="{{'showing' | translate}} {first} {{'to' | translate}} {last} {{'of' | translate}} {totalRecords} {{'entries' | translate}}">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    {{'listPosts' | translate}}
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID
                    </th>
                    <th pSortableColumn="user">
                        {{'user' | translate}}
                    </th>
                    <th pSortableColumn="image">
                        {{'image' | translate}}
                    </th>
                    <th pSortableColumn="description">
                        {{'description' | translate}}
                    </th>
                    <th pSortableColumn="delete">
                        {{'delete' | translate}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-post>
                <tr class="p-selectable-row">
                    <td>
                        {{post.id}}
                    </td>
                    <td>
                        {{post.user.firstName}} {{post.user.lastName}}
                    </td>
                    <td>
                        <img src={{post.imageUrl}} alt="" class="post-image">
                    </td>
                    <td>
                        {{post.description}}
                    </td>
                    <td style="text-align: center">
                        <button pButton type="button" (click)="confirm(post)" class="p-button-danger"
                            icon="pi pi-trash"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">
                        {{'noPosts' | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
<p-confirmDialog header="{{'confirmation' | translate}}" icon="pi pi-exclamation-triangle" [appendTo]="'body'">
</p-confirmDialog>
<p-toast key="deleteToast" position="top-right"></p-toast>