.comment-section {
  width: 450px;
  .comment {
    background-color: var(--surface-ground);
    border-radius: 10px;
    margin: 15px 0;
    padding-left: 10px;
    height: auto;
  }
  p {
    width: 350px;
    word-wrap: break-word;
  }
}
