<div class="comment-section">
    <ng-container *ngIf="!view"></ng-container>
    <p *ngIf="post.comments.length" (click)="viewComments()" style="cursor: pointer; color: rgba(0, 0, 0, 0.4)">
        {{message}}
        {{commentMessage}} </p>
    <ng-container *ngIf="view">
        <ng-container *ngFor="let comment of post.comments">
            <div class="d-flex justify-content-between align-items-center comment">
                <p>
                    <b>{{comment.user.firstName}} {{comment.user.lastName}} </b>
                    {{comment.comment}}
                </p>
                <div *ngIf="comment.user.id == currentUser.id">
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-text"
                        (click)="selectedComment = comment;confirm(selectedComment)"></button>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="p-inputgroup">
        <input type="text" pInputText placeholder="{{'writeComment' | translate}}" #commentRef>
        <button pButton label="{{'post' | translate}}" class="p-button-outlined" (click)="postComment()"></button>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [appendTo]="'body'"></p-confirmDialog>
<p-toast key="deleteToast" position="top-right"></p-toast>