.comment {
  background-color: #eff3f8;
  border-radius: 10px;
  // border: 1px solid red;
  margin: 15px 0;
  padding-left: 10px;
  height: auto;
}

.comment-section{

    width: 450px;
}
p {
  width: 350px;
  word-wrap: break-word;
}
