<div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="wrapper" *ngIf="!isLoading">
    <div class="d-flex justify-content-between">
        <div class="col">
            <p-card>
                <div class="login-card">
                    <h3><b>Log In</b></h3>
                    <p>Welcome back! Please enter your details.</p>
                    <form [formGroup]="loginForm" (ngSubmit)="logIn()" *ngIf="!isLoading">
                        <div class="grid p-fluid">
                            <div class="col-12 md:col-4">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                                    <input type="text" pInputText placeholder="Email" formControlName="email">
                                </div>
                                <small style="color: red;" *ngIf="loginForm.controls['email'].invalid 
                                && (loginForm.controls['email'].dirty 
                                || loginForm.controls['email'].touched)" class="alert">
                                    Please enter a valid email
                                </small>
                            </div>
                            <br>
                            <div class="col-12 md:col-4">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-unlock"></i></span>
                                    <input type="password" pInputText placeholder="Password" formControlName="password"
                                        minlength="8">
                                </div>
                                <small style="color: red;" *ngIf="loginForm.controls['password'].invalid 
                                && (loginForm.controls['password'].dirty 
                                || loginForm.controls['password'].touched)" class="alert">
                                Please enter a valid password. Password must have
                                only letters and numbers and
                                minimum of 8 characters.
                                </small>
                            </div>
                        </div>
                        <br>
                        <button pButton type="submit" [disabled]="!loginForm.valid" label="Log In" style="float: right;"
                            class="p-button-info"></button>
                    </form>
                    <p>Don't have an account? Sign up <a routerLink="/signup"> here</a></p>
                </div>
            </p-card>
        </div>
        <div class="col-image">
            <img src="/assets/images/post.jpg" alt="">
        </div>
    </div>
</div>
<p-toast key="loginToast" position="top-left"></p-toast>