@import "../node_modules/bootstrap/scss/bootstrap";
// @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
// @import "primeng/resources/primeng.min.css";
// @import "primeflex/primeflex.css";
// @import "primeicons/primeicons.css";

// @import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
// @import "../node_modules/primeng/resources/themes/vela-blue/theme.css"; //per dark mode

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var( --surface-ground);
  // background-color: rgb(223, 235, 239);
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}




