<div class="d-flex container justify-content-center">
    <div class="col-md-4 d-flex justify-content-between">
        <div class="wrapper" class="search-results">
            <p-card>
                <div class="d-flex align-items-center">
                    <img src="/assets/images/profile-pic.png" alt="" class="profile-pic">
                    <button pButton type="button" class="p-button-outlined p-button-rounded create-post"
                        (click)="showDialog()">{{'whatsonyourmind' | translate}} {{currentUser.firstName}}?</button>
                </div>
            </p-card>
            <p-card *ngFor="let post of posts | sortPosts">
                <ng-template pTemplate="header" style="margin: 0;">
                    <div class="d-flex justify-content-between align-items-center header">
                        <div class="d-flex align-items-center ">
                            <img src="/assets/images/profile-pic.png" alt="" class="profile-pic">
                            <div class="title">
                                <span>
                                    {{post.user.firstName}} {{post.user.lastName}}
                                </span> <br>
                            </div>
                        </div>
                        <div *ngIf="post.user.id == currentUser.id">
                            <button pButton pRipple type="button" icon="pi pi-ellipsis-h"
                                class="p-button-rounded p-button-text post-menu"
                                (click)="selectedPost = post; menu.toggle($event)"></button>
                        </div>
                    </div>
                    <img src={{post.imageUrl}} alt="" class="postedPic">
                </ng-template>
                <div style="margin: 0;">
                    <app-like></app-like>
                    <i class="pi pi-comment" style="margin-left: 15px"></i>
                </div>
                <p>254 {{'likes' | translate}}</p>

                <div id="posted-content d-flex">
                    <p>
                        <b> {{post.user.firstName}} {{post.user.lastName}}</b>
                        {{post.description}}
                    </p>
                </div>
                <div *ngIf="!post.noComment; else disabledMessage">
                    <app-comment-section [post]="post"></app-comment-section>
                </div>
                <ng-template #disabledMessage>{{'commentsOff' | translate}}</ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-md-4 profile">
        <app-profile-side-panel></app-profile-side-panel>
    </div>
</div>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
<p-confirmDialog header="{{'confirmation' | translate}}" key="homeKey" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast key="deleteToast" position="top-right"></p-toast>
<p-dialog header="{{openEdit ? 'Edit Post' : 'Add Post'}}"  [(visible)]="openModal" *ngIf="openModal" [modal]="true">
    <app-create-edit-post (addedPost)="handlePost($event)" [openEdit]="openEdit" (openModal)="showModal($event)" [object]="selectedPost">
    </app-create-edit-post>
</p-dialog>